OPENAI_API_KEY=your-openai-api-key

APP_PATH=/path/to/pr-agent
DATABASE_URL=sqlite:////path/to/pr-agent/instance/pr.db

AUTH_SERVICE_URL=https://127.0.0.1:6969
APP_URL=https://127.0.0.1:8080
WORKSPACE_PATH=/path/to/workspace
